.header__btn {
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header {
    margin-bottom: 20px;
    min-width: 320px;
    background-color: #f9f9fa;
}

.header__body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 435px) {
    .header__body {
        height: 85px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 10px;
    }
}

.header__logo img {
    height: 40px;
}

.header__tools {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__add {
    width: 200px;
    margin-right: 15px;
}

@media (max-width: 435px) {
    .header__add {
        margin-right: 20px;
    }
}

.header__edit-btn {
    background: url("../../assets/icons/trash.svg") center/20px 20px no-repeat;
}
/*Форма добавленния картинки*/
.add-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.add-img__input {
    border: #000 solid 2px;
    padding: 4px;
    border-radius: 7px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
    color: #8d8d8d;
    font-size: 14px;
    margin-right: 7px;
    min-width: 170px;
    transition: 1s all;
}
.add-img__input:disabled {
    border: #ccc solid 2px;
}

.add-img__btn {
    min-width: 20px;
    background: url("../../assets/icons/plus-circle.svg") center/20px 20px no-repeat;
}
